<!-- views/contact.ejs -->

<%- include("partials/header"); -%>

<div class="page-container contact-page">
    <div class="content-container">
        <h1>Contact Information</h1>
        <div class="contact-info">
            <p><strong>Name:</strong> Kunal Sinha</p>
            <p><strong>Address:</strong> Dhamtari, Chhattisgarh</p>
            <p><strong>Mobile No:</strong> 9977748802</p>
            <p><strong>Email:</strong> kunalsinha961@gmail.com</p>
            <p><strong>Alternative Email:</strong> kunalsinha981@gmail.com</p>
            <p><strong>Instagram:</strong> <a href="https://www.instagram.com/kunal_sinha.__" target="_blank" class="instagram-link">KunalSinha</a></p>
        </div>
    </div>
</div>
