<%- include("partials/header"); -%>

<div class="compose-container">
    <h1>EDIT</h1>
    <form class="compose-form" action="/edit" method="post">
        
        <label for="contents"><strong>Contents</strong></label>
        <textarea id="contents" name="contents" rows="10" class="input-field" placeholder="Edit your contents..." style="width: 100%; max-width: 1200px;" required></textarea>
        
        <button type="submit" class="button">EDIT</button>
    </form>
</div>
